*{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .toolbar {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background: #FAFAFA;
      height: 100px;
    }
  
    .toolbar__navigation {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem 0 2rem;
      justify-content: flex-end;
    }
    
    .toolbar__logo {
      position: absolute;
      left: 30px;
      margin-left: 1rem;
      margin-bottom: 5px;
      align-items: flex-start;
    }
    
    .toolbar__logo a {
      color: black;
      text-decoration: none;
      font-size: 28px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      align-items: flex-start;

    }
    
    .spacer {
      flex: 1;
    }

    .toolbar_navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .toolbar_navigation-items li {
      padding: 0px 12.5px 0px 12.5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
  
    }
    
  .toolbar__logo {
      margin-left: 0;
  }
  
  button {
    display: inline-block;
    height: 100px;
    color: black;
    text-decoration: none;
    background-color: #FAFAFA;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    color: #b1acac;
    animation: none;
  }
  
  